footer
	.footer-container
		.about-us
			h4 About us
			p
				| Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
				| sed diam nonummy nibh euismod tincidunt ut
				| laoreet dolore magna aliquam erat volutpat. Ut wisi
				| enim ad minim veniam, quis nostrud exerci tation ullamcorper
				| suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			a(href='#') Learn more
			h4 Photo Stream
			.images
				img(src='img/img-1.jpg', alt='')
				='\n'
				img(src='img/img-2.jpg', alt='')
				='\n'
				img(src='img/img-3.jpg', alt='')
				='\n'
				img(src='img/img-4.jpg', alt='')
				='\n'
				img(src='img/img-5.jpg', alt='')
				='\n'
				img(src='img/img-6.jpg', alt='')
		.tweets
			h4 Latest tweets
			.tweets-container
				.tweets-left
					img(src='img/Twitter-birs-icon.png', alt='')
				.tweets-right
					p
						| Check Out Dtbaker's
						='\n'
						span @Arduino
						|  Sales Notification
						='\n'
						span #System
					p.date 3 days ago
			.tweets-container
				.tweets-left
					img(src='img/Twitter-birs-icon.png', alt='')
				.tweets-right
					p
						| Community Superstar Winner –
						='\n'
						span #OrganicBeeMedia
					p.date 3 days ago
			.tweets-container
				.tweets-left
					img(src='img/Twitter-birs-icon.png', alt='')
				.tweets-right
					p
						| Clean
						='\n'
						span #Websites
						|  Designs for Your
						='\n'
						span #Inspiration
					p.date 5 days ago
			.tweets-container
				.tweets-left
					img(src='img/Twitter-birs-icon.png', alt='')
				.tweets-right
					p
						| Cute Online
						='\n'
						span #Shops
					p.date 6 days ago
			.tweets-container
				.tweets-left
					img(src='img/Twitter-birs-icon.png', alt='')
				.tweets-right
					p
						| Download 40 vector
						='\n'
						span #icons
						|  package for
						='\n'
						span #FREE
					p.date 6 days ago
			section.social
				.social-container
					.social-left
						h4 Social Connecting
					.social-right
						img(src='img/s1facebook.jpg', alt='')
						='\n'
						img(src='img/s2google-plus.jpg', alt='')
						='\n'
						img(src='img/s3twitter.jpg', alt='')
						='\n'
						img(src='img/s4linkedin.jpg', alt='')
						='\n'
						img(src='img/s5you-tube.jpg', alt='')
						='\n'
						img(src='img/s6bloger.jpg', alt='')
						='\n'
						img(src='img/s7rss.jpg', alt='')
						='\n'
						img(src='img/s8dribbble.jpg', alt='')
		section.contacts
			h4 Contact info
			.contacts-container
				.contacts-left
					img(src='img/Adress.jpg')
				.contacts-right
					| Address: 12569 Saint Patrick des Prés,
					br
					|  85000 Paris, France
			.contacts-container
				.contacts-left
					img(src='img/Phone.jpg')
				.contacts-right.phone-container
					p Phone:
					p
						| +38 045 845-45-78
						br
						|  +38 045 845-45-79
			.contacts-container
				.contacts-left
					img(src='img/email.jpg')
				.contacts-right
					| E-mail:
					='\n'
					span freeforwebdesign@gmail.com
			section.follow
				.follow-container
					h1 Follow Us
					p
						| Lorem Ipsum is simply dummy text of the printing
						| and typesetting industry.
					form
						input(type='text', name='')
						button(type='submit')
							img(src='img/email-icon.jpg')
	section.footer-menu
		.footer-menu-container
			input#menu-checkbox-foot(type='checkbox')
			nav(role='navigation')
				label.toggle-button-foot(for='menu-checkbox-foot', data-open='MENU', data-close='CLOSE', onclick='')
				ul.main-menu-foot
					li
						a(href='#') HOME
					li
						a(href='#') PORTFOLIO
					li
						a(href='#') BLOG
					li
						a(href='#') ABOUT US
					li
						a(href='#') CONTACT
	script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
	script(src='owlcarousel/owl.carousel.min.js')
	script(src='js/script.js')
