head
	meta(charset='UTF-8')
	title Webdesign
	link(href='https://fonts.googleapis.com/css?family=Poppins&display=swap', rel='stylesheet')
	link(rel='stylesheet', href='owlcarousel/assets/owl.carousel.min.css')
	link(rel='stylesheet', href='owlcarousel/assets/owl.theme.default.min.css')
	link(rel='stylesheet', href='css/style.css')
