header
	.header-container
		.logo
			img(src='img/LOGO.gif', alt='logo')
		input#menu-checkbox(type='checkbox')
		nav(role='navigation')
			label.toggle-button(for='menu-checkbox', data-open='MENU', data-close='CLOSE', onclick='')
			ul.main-menu
				li
					a(href='index.html') HOME
				li
					a(href='portfolio.html') PORTFOLIO
				li
					a(href='blog.html') BLOG
				li
					a(href='about.html') ABOUT US
				li
					a(href='contact.html') CONTACT
