doctype html
html(lang='en')
	include includes/head
	body
		.wrapper
			include includes/header
			main.about
				.about__container
					img(src='img/about.jpg')
					h1 Lorem ipsum dolor sit amet.
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis expedita magni commodi voluptatibus perspiciatis voluptatum reiciendis molestias officia est esse beatae eligendi fugit, libero dignissimos ratione corporis, aspernatur nostrum fugiat animi! Iusto accusamus, aliquid quam est soluta autem quae inventore, aperiam modi consequatur doloremque, natus iure eos. Repudiandae, tempore, odio!
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis expedita magni commodi voluptatibus perspiciatis voluptatum reiciendis molestias officia est esse beatae eligendi fugit, libero dignissimos ratione corporis, aspernatur nostrum fugiat animi! Iusto accusamus, aliquid quam est soluta autem quae inventore, aperiam modi consequatur doloremque, natus iure eos. Repudiandae, tempore, odio!
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis expedita magni commodi voluptatibus perspiciatis voluptatum reiciendis molestias officia est esse beatae eligendi fugit, libero dignissimos ratione corporis, aspernatur nostrum fugiat animi! Iusto accusamus, aliquid quam est soluta autem quae inventore, aperiam modi consequatur doloremque, natus iure eos. Repudiandae, tempore, odio!
			include includes/footer

