doctype html
html(lang='en')
	include includes/head
	body
		.wrapper
			include includes/header
			main
				section.top-slide
					.top-container
						div
							h2 WE BELIVE
						div
							h2 IN QUALITY DESIGN
						div
							p Any creative project is unique
						div
							p and should be provided with
						div
							p the appropriate quality
				section.specialize
					.specialize-container
						h3 WE CREATE QUALITY DESIGNS.
						p We specialize in Web Design / Development and Graphic Design
						.specialize-cards
							.card
								.topcard
									.triangle
									img(src='img/bogpost.jpg', alt='')
								.bottom-card
									p.first-p
										| Redesigning
										br
										|  With Personality
							.card
								.topcard
									img(src='img/WEB-DEVELOPMENT1.png', alt='')
									.triangle
								.bottom-card
									p.first-p
										| Lorem ipsum dolor sit amet,
										br
										|  consectetur.
							.card
								.topcard
									img(src='img/WEB-DESIGN.png', alt='')
									.triangle
								.bottom-card
									p.first-p
										| Lorem ipsum dolor sit amet,
										br
										|  consectetur.
							.card
								.topcard
									img(src='img/GRAPHIC-DESIGN.png', alt='')
									.triangle
								.bottom-card
									p.first-p
										| Lorem ipsum dolor sit amet,
										br
										|  consectetur.
				section.portfolio
					h4 OUR WORK
					p
						| Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
					.toggles
						button#showall SHOW ALL
						button#webdev WEB DEVELOPMENT
						button#webdesign WEB DESIGN
						button#graphd GRAPHIC DESIGN
					.posts
						.post.webdev
							img(src='img/Portfolio1.jpg', alt='')
						.post.webdev
							img(src='img/Portfolio3.jpg', alt='')
						.post.webdev
							img(src='img/Portfolio-work-4.jpg', alt='')
						.post.webdev
							img(src='img/Portfolio-work-8.jpg', alt='')
						.post.webdesign
							img(src='img/Portfolio2.jpg', alt='')
						.post.webdesign
							img(src='img/Portfolio-work-7.jpg', alt='')
						.post.graphd
							img(src='img/Portfolio-work-5.jpg', alt='')
						.post.graphd
							img(src='img/Portfolio-work-6.jpg', alt='')
						.post.graphd
							img(src='img/Portfolio-work-9.jpg', alt='')
						.post.graphd
							img(src='img/Portfolio-work-10.jpg', alt='')
						.post.graphd
							img(src='img/Portfolio-work-11.jpg', alt='')
				section.brand-slider
					h4 OUR CLIENTS
					p
						| Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
					.owl-carousel
						div
							img(src='img/Client-1.jpg', alt='')
						div
							img(src='img/Client-2.jpg', alt='')
						div
							img(src='img/Client-3.jpg', alt='')
						div
							img(src='img/Client-4.jpg', alt='')
						div
							img(src='img/Client-5.jpg', alt='')
						div
							img(src='img/Client-6.jpg', alt='')
						div
							img(src='img/Client-7.jpg', alt='')
						div
							img(src='img/Client-8.jpg', alt='')
			include includes/footer

