doctype html
html(lang='en')
	include includes/head
	body
		.wrapper
			include includes/header
			main.portfolioMy
				.gallery
					.photo-item
						a(href="https://brightwiths.github.io/goaexcursions/")
							img(src='img/gallery_slides/goaExcursions.jpg', alt='')
					.photo-item
						a(href="https://brightwiths.github.io/goaaccess/indexEng.html")
							img(src='img/gallery_slides/goaAccess.jpg', alt='')
					.photo-item
						a(href="https://brightwiths.github.io/trcooper/")
							img(src='img/gallery_slides/marketCooper.jpg', alt='')
					.photo-item
						a(href="https://brightwiths.github.io/projectorgoa/")
							img(src='img/gallery_slides/goaProjector.jpg', alt='')
					.photo-item
						a(href="https://brightwiths.github.io/blitz/")
							img(src='img/gallery_slides/marketBlitz.jpg', alt='')
					.photo-item
						a(href="https://brightwiths.github.io/trwebdesign/index.html")
							img(src='img/gallery_slides/marketWebDesign.jpg', alt='')
					.photo-item
						a(href="https://brightwiths.github.io/trmycompany/")
							img(src='img/gallery_slides/marketMyCompany.jpg', alt='')
					.photo-item
						a(href="https://brightwiths.github.io/trmirrillis/index.html")
							img(src='img/gallery_slides/marketMirillis.jpg', alt='')
			include includes/footer

